<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StormwaterCalculator.Properties.LidSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="StormwaterCalculator.LidSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <StormwaterCalculator.Properties.LidSettings>
            <setting name="idCapture" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="rgRimHeight" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="rgSoilHeight" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="rgSoilPorosity" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="rgSoilKsat" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="rgCapture" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ppPaveHeight" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ppPaveVoid" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ppDrainHeight" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="ppDrainVoid" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ppCapture" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="rhSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="rhDrainRate" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="rhNumber" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="spRimHeight" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="spSoilHeight" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="spSoilPorosity" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="spSoilKsat" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="spDrainVoid" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="spCapture" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ibHeight" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="ibCapture" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="grSoilHeight" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="grSoilPorosity" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="grSoilKsat" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="grDrainHeight" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="grDrainVoid" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="spDrainHeight" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="rgHasPreTreat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ibHasPreTreat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ppHasPreTreat" serializeAs="String">
                <value>False</value>
            </setting>
        </StormwaterCalculator.Properties.LidSettings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SDMTabularServiceSoap" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="SDMTabularServiceSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="SDMTabularServiceSoap2" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://sdmdataaccess.sc.egov.usda.gov/Tabular/SDMTabularService.asmx"
        binding="basicHttpBinding" bindingConfiguration="SDMTabularServiceSoap1"
        contract="ServiceReference1.SDMTabularServiceSoap" name="SDMTabularServiceSoap1" />
    </client>
  </system.serviceModel>
</configuration>